<footer>
    <div class="deskripsi-singkat">
        <div class="judul">
            <div class="logo">
                <img src="img/logonbg.png" alt="" width="70px">
                <h4>Website Travel</h4>
            </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum tempore accusantium, repellat culpa in earum assumenda sequi est ea.</p>
            <div class="sosmed">
                <ul>
                    <li><i class="bi bi-facebook"></i></li>
                    <li><i class="bi bi-instagram"></i></li>
                    <li><i class="bi bi-twitter"></i></li>
                    <li><i class="bi bi-linkedin"></i></li>
                </ul>
            </div>
        </div>

    <div class="quick-link">
        <div class="judul">
            <h4>Quick Link</h4>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Cathegory</a></li>
        </ul>
    </div>
    <div class="quick-link">
        <div class="judul">
            <h4>Quick Link</h4>
        </div>
        <ul>
            <li><a href="#">Shop</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </div>
    <div class="contact-us">
        <div class="judul">
            <h4>Contact Us</h4>
        </div>
        <ul>
            <li><i class="bi bi-geo-alt-fill"></i> l. Letjen S. Parman No.1, RT.6/RW.16, Tomang, Kec. Grogol petamburan, Kota Jakarta Barat</li>
            <li><i class="bi bi-telephone-fill"></i> 08110503050304</li>
            <li><i class="bi bi-envelope-fill"></i> Travel@agency.com</li>
        </ul>
    </div>
</footer>