<nav>
    <div class="icon">
        <img src="img/logonbg.png" alt=""></div>
        <div class="open-nav-menu">
            <span></span>
        </div>
        <div class="menu-overlay"></div>
        <div class="nav-menu">
            <div class="close-nav-menu">
                <i class='bx bx-x'></i>
            </div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/#about">About Us</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#" data-toggle="sub-menu">Cathegory</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="/#gallery">Gallery</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Category B</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Category C</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Category D</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="/#footer   ">Contact</a>
                </li>
                <li class="menu-item">
                    <a href="/tiket">Tiket</a>
                </li>
            </ul>
        </div>