<div class="keuntungan">
    <div class="fasilitas">
        <h5>Fasilitas</h5>
        <ul class="list-unstyled">
            <li>
                <img src="img/icon/air-conditioner.png" alt="ac">
                    AC</li>
                <li>
                    <img src="img/icon/restaurant.png" alt="restoran">
                        Restoran</li>
                    <li>
                        <img src="img/icon/swimming-pool.png" alt="kolam_renang">
                            Kolam Renang</li>
                        <li>
                            <img src="img/icon/24-hours-support.png" alt="24Hours">
                                Resepsionis 24 Jam</li>
                            <li>
                                <img src="img/icon/parking-area.png" alt="Parkir">
                                    Parkir</li>
                                <li>
                                    <img src="img/icon/wifi.png" alt="Wifi">
                                        Wifi</li>
                                    <li>
                                        <img src="img/icon/elevator.png" alt="LIft">
                                            Elevator</li>
                                    </ul>
                                </div>
                                <div class="tentang">
                                    <div class="hotel">
                                        <h5>MU De La Hotel</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                            minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                            necessitatibus</p>
                                        <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>