<!DOCTYPE html>
<html lang="en">
        <%- include('layouts/header.ejs') %>
            <link rel="stylesheet" href="index.css">
            <link rel="stylesheet" href="footer.css">
            <title>Travel with Us</title>
        <body>
            <div class="home">
                <%- include('layouts/nav.ejs') %>
                    <div class="penjelasan">
                        <div class="travel-judul">
                            <h1>Explore Beautiful World</h1>
                            <button>Selengkapnya</button>
                        </div>
                    </div>
                </div>
                <div class="popular">
                    <div class="judul-popular">
                        <h1>Popular Place</h1>
                    </div>
                    <ul class="popular-item">
                        <li class="popular-card">
                            <img src="img/bali.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>Bali</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Indonesia</div>
                            </div>
                        </li>
                        <li class="popular-card">
                            <img src="img/london.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>London</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Inggris</div>
                            </div>
                        </li>
                        <li class="popular-card">
                            <img src="img/paris.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>Paris</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Perancis</div>
                            </div>
                        </li>
                        <li class="popular-card">
                            <img src="img/tokyo,japan.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>Tokyo</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Japan</div>
                            </div>
                        </li>
                        <li class="popular-card">
                            <img src="img/newyorkgelap.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>New York</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Amerika</div>
                            </div>
                        </li>
                        <li class="popular-card">
                            <img src="img/singapura2.jpg" alt="">
                            <div class="info">
                                <div class="rating">
                                    <div class="city">
                                        <h1>Singapura</h1>
                                    </div>    
                                    <div class="rate"><i class="bi bi-star-fill"></i> 4.3</div>
                                </div>
                                <div class="location"><i class="bi bi-geo-alt-fill"></i>Singapura</div>
                            </div>
                        </li>
                    </ul>
                
                <div class="explore">
                    <div class="explore-img">
                        <img src="img/travel-removebg-preview.png" alt="">
                    </div>
                    <div class="explore-penjelasan">
                        <div class="explore-judul">
                            <h1>Explore all corners of the world with us</h1>
                        </div>
                            <p>Travel is fatal to prejudice, and narrow mindedness, And many of our people need it sorely on these accounts. And many of our people need it sorely</p>
                            <div class="fasilitas">
                                <p><i class='bx bx-wifi'></i> Wifi</p>
                                <p><i class='bx bxs-bowl-hot'></i> Food</p>
                                <p><i class='bx bxs-hotel'></i> Hotel</p>
                                <p><i class='bx bxs-plane'></i> Plane</p>       
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gallery"></div>
                <div class="gallery">
                    <div class="gallery-judul">
                        Our Gallery
                    </div>
                    <div class="content">
                        <div class="gambar satu">
                            <div class="title-box">
                            <div class="title">Antariksa</div>
                            </div>
                        </div>
                        <div class="gambar dua">
                            <div class="title-box">
                            <div class="title">Traveling</div>
                            </div>
                        </div>
                        <div class="gambar tiga">
                            <div class="title-box">
                            <div class="title">Tutorial Coding</div>
                            </div>
                        </div>
                        <div class="gambar empat">
                            <div class="title-box">
                            <div class="title">Otomotif</div>
                            </div>
                        </div>
                        <div class="gambar lima">
                            <div class="title-box">
                            <div class="title">Skincare</div>
                            </div>
                        </div>
                        <div class="gambar enam">
                            <div class="title-box">
                            <div class="title">Skincare</div>
                            </div>
                        </div>
                    </div>
                </div>    
                
                <div id="about"></div>
                <div class="faq">
                    <div class="faq-penjelasan">
                        <h1>FAQ</h1>
                        <p>Fitur FAQ kami memungkinkan Anda untuk dengan mudah menemukan jawaban atas
                            pertanyaan-pertanyaan umum tentang berbagai topik terkait perjalanan. Anda hanya
                            perlu memasukkan kata kunci seperti destinasi, cuaca, festival, dan lainnya
                            untuk menemukan informasi yang Anda butuhkan dengan cepat. Dengan fitur ini,
                            Anda dapat menghemat waktu dan mendapatkan jawaban yang relevan dengan mudah.</p>
                    </div>

                    <div class="input">
                        <div ng-app="pertanyaan" ng-controller="controller" class="input2">

                            <div class="search-box">
                                <input type="text" ng-model="searchName" placeholder="Masukan Pertanyaan">
                                <button ng-click="search()">
                                    <i class='bx bxs-send'></i>
                                </button>
                            </div>

                            <ul>
                                <li ng-repeat="pertanyaan in hasil">
                                    <p>
                                        <span class="warna">Question :
                                        </span>
                                        {{ pertanyaan.question}}
                                    </p>
                                    <p>
                                        <span class="warna">Answer :</span>
                                        <br>
                                        {{ pertanyaan.answer }}</p>
                                    <br>
                                </li>
                                <li ng-if="showNoResultsMessage" style="color: red;">Tidak ada hasil pencarian</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div id="footer"></div>
                <%- include('layouts/footer.ejs') %>
                <script>
                    var app = angular.module('pertanyaan', []);
                    app.controller('controller', function ($scope) {
                        $scope.trains = [
                            {
                                question: 'Apa saja destinasi yang disediakan?',
                                answer: 'Untuk destinasi yang disediakan dapat dilihat di bagian destination di homepage'
                            }, {
                                question: 'Apakah ada restoran atau makanan khas yang harus saya coba di Tokyo?',
                                answer: 'Salah satu restoran yang wajib di coba di Tokyo adalah Narisawa, sebuah restoran populer milik koki terkenal Yoshihiro Narisawa. Menu disajikan dengan gaya omakase (yang berarti “sesuka hati Anda”) sehingga membuat anda mendapatkan pengalaman khas Jepang.'
                            }, {
                                question: 'Bagaimana kondisi cuaca di destinasi London saat ini atau dalam beberapa hari ke depan?',
                                answer: 'Menurut update cuaca di Website google weather untuk Kondisi cuaca saat ini dan prakiraan untuk beberapa hari mendatang di London adalah cerah.'
                            }, {
                                question: 'Bagaimana dengan keamanan dan keselamatan di destinasi ini, apakah ada hal-hal yang perlu diperhatikan?',
                                answer: 'Beberapa hal penting yang harus diperhatikan pada saat traveling diantaranya yaitu pahami peraturan dan budaya lokal disana, selalu awasi barang-barang Anda, terutama di tempat-tempat ramai, simpan barang berharga seperti paspor, uang, dan kartu kredit di tempat yang aman dan lain sebagainya.'
                            }, {
                                question: 'Apakah ada saran transportasi lokal yang efisien untuk menjelajahi destinasi ini?',
                                answer: 'Prancis'
                            }, {
                                question: 'Bagaimana dengan kebijakan pembatalan atau pengembalian uang untuk reservasi akomodasi atau tur?',
                                answer: 'Pada saat ini, kami tidak menyediakan layanan pembatalan atau pengembalian uang untuk reservasi akomodasi atau tur. Kami mohon maaf atas ketidaknyamanannya dan kami senantiasa berusaha memberikan pengalaman yang memuaskan kepada pelanggan kami.'
                            }, {
                                question: 'Apakah bulan ini ada festival atau acara khusus yang akan berlangsung di Madrid, Spanyol',
                                answer: 'Di bulan ini, Madrid memiliki beberapa festival dan acara yang menarik. Salah satunya adalah Madrid Carnival biasanya diadakan pada akhir Februari atau awal Maret. Untuk informasi lebih lanjut tentang acara-acara yang berlangsung selama bulan ini, disarankan untuk memeriksa situs web resmi pariwisata Madrid atau kalender acara lokal.'
                            }
                        ];
                
                        // Initialize showing all FAQs
                        $scope.hasil = $scope.trains;
                        $scope.showNoResultsMessage = false;
                
                        $scope.search = function () {
                            var searchTerms = $scope
                                .searchName
                                .toLowerCase()
                                .split(' ');
                
                            var isWhitespaceSearch = searchTerms.every(function (term) {
                                return term.trim() === '';
                            });
                
                            if (isWhitespaceSearch) {
                                $scope.hasil = $scope.trains;
                            } else {
                                $scope.hasil = $scope
                                    .trains
                                    .filter(function (pertanyaan) {
                                        var namaLowerCase = pertanyaan
                                            .question
                                            .toLowerCase();
                                        return searchTerms.some(function (term) {
                                            return namaLowerCase.includes(term);
                                        });
                                    });
                            }
                
                            $scope.showNoResultsMessage = $scope.hasil.length === 0 && !isWhitespaceSearch;
                        };
                    });
                </script>
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                <script>
                    AOS.init();
                </script>
                <script>
                    document.addEventListener('scroll', () => {
                        const nav = document.querySelector('nav');
        
                        if (window.scrollY > 0) {
                            nav
                                .classList
                                .add('scrolled');
                        } else {
                            nav
                                .classList
                                .remove('scrolled')
                        }
                    })
                </script>
                <script src="index.js"></script>
                <script>
                    feather.replace();
                </script>
            </body>
        </html>