<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Sign In</title>
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/lib..."
                integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"/>
            <link rel="stylesheet" href="login.css">
                <script src="https://unpkg.com/feather-icons"></script>
            </head>
            <body>
                <div class="ring">
                    <i style="--clr:#fff;"></i>
                    <i style="--clr:#fff;"></i>
                    <i style="--clr:#fff;"></i>
                    <div class="sampul">
                        <div class="login-box" id="id">
                            <h2>Sign In</h2>
                            <form action="#" method="post">
                                <div class="form">
                                    <span class="icon">
                                        <i data-feather="mail"></i>
                                    </span>
                                    <input type="text" name="userlogin" required="required">
                                        <label>Username</label>
                                    </div>
                                    <div class="form">
                                        <span class="icon">
                                            <i data-feather="lock"></i>
                                        </span>
                                        <input type="password" name="passwordlogin" required="required">
                                            <label>Password</label>
                                        </div>
                                        <div class="rememberforgot">
                                            <label>
                                                <input type="checkbox" name="remember">Remember Me</label>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" class="btn">LOGIN</button>
                                            <div class="log-register">
                                                <p>Don't have an account?
                                                    <a href="#" class="regis-link">Register</a>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="register-box">
                                        <h2>Sign Up</h2>
                                        <form action="#" method="post">
                                            <div class="form">
                                                <span class="icon">
                                                    <i data-feather="user"></i>
                                                </span>
                                                <input type="text" name="userregis" required="required">
                                                    <label>Username</label>
                                                </div>
                                                <div class="form">
                                                    <span class="icon">
                                                        <i data-feather="user"></i>
                                                    </span>
                                                    <input type="text" name="name" required="required">
                                                        <label>Your name</label>
                                                    </div>
                                                    <div class="form">
                                                        <span class="icon">
                                                            <i data-feather="mail"></i>
                                                        </span>
                                                        <input type="text" name="emailregis" required="required">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="form">
                                                            <span class="icon">
                                                                <i data-feather="lock"></i>
                                                            </span>
                                                            <input type="password" name="passwordregis" required="required">
                                                                <label>Password</label>
                                                            </div>
                                                            <div class="rememberforgot">
                                                                <label>
                                                                    <input
                                                                        type="checkbox"
                                                                        id="agreeCheckbox"
                                                                        required="required"
                                                                        onchange="showPopup()">I agree to the terms & conditions</label>
                                                                </div>
                                                                <div id="popupOverlay" class="popup-overlay">
                                                                    <div id="popupContent" class="popup-content">
                                                                        <h2>Terms & Conditions</h2>
                                                                        <p>
                                                                            Selamat datang di website perjalanan kami. Harap baca dengan seksama syarat dan
                                                                            ketentuan penggunaan berikut sebelum menggunakan layanan kami. Penerimaan Syarat
                                                                            dan Ketentuan Dengan mengakses atau menggunakan layanan kami, Anda menyetujui
                                                                            untuk terikat dengan syarat dan ketentuan penggunaan ini. Jika Anda tidak setuju
                                                                            dengan semua syarat dan ketentuan ini, maka Anda tidak boleh menggunakan layanan
                                                                            kami. Deskripsi Layanan Layanan yang disediakan oleh website kami meliputi
                                                                            pemesanan tiket yang terkait dengan perjalanan yang ingin anda tuju. Pemesanan
                                                                            dan Pembayaran a. Untuk melakukan pemesanan, Anda harus memberikan informasi
                                                                            pribadi yang akurat, termasuk nama lengkap, nomor telepon, alamat email, dan
                                                                            informasi pembayaran yang valid. b. Pembayaran untuk layanan harus dilakukan
                                                                            sesuai dengan ketentuan yang tercantum pada website kami. c. Pembatalan atau
                                                                            perubahan pesanan dapat dikenakan biaya tambahan sesuai dengan kebijakan
                                                                            pembatalan yang berlaku. Batasan Tanggung Jawab a. Kami tidak bertanggung jawab
                                                                            atas kerugian atau kerusakan yang disebabkan oleh informasi yang tidak akurat
                                                                            atau tidak lengkap yang diberikan oleh pengguna. b. Kami tidak bertanggung jawab
                                                                            atas keterlambatan, pembatalan, atau perubahan jadwal yang dilakukan oleh pihak
                                                                            ketiga seperti maskapai penerbangan, hotel, atau penyedia layanan lainnya.
                                                                            Kebijakan Privasi Kami menghargai privasi pengguna kami. Informasi pribadi yang
                                                                            Anda berikan kepada kami akan ditangani sesuai dengan kebijakan privasi kami.
                                                                            Penggunaan Cookies Kami menggunakan cookies untuk meningkatkan pengalaman
                                                                            pengguna. Dengan menggunakan layanan kami, Anda menyetujui penggunaan cookies
                                                                            sesuai dengan kebijakan cookies kami. Perubahan pada Syarat dan Ketentuan Kami
                                                                            berhak untuk mengubah syarat dan ketentuan penggunaan ini setiap saat tanpa
                                                                            pemberitahuan terlebih dahulu. Perubahan akan berlaku segera setelah
                                                                            dipublikasikan di website kami. Dengan menggunakan layanan kami, Anda menyetujui
                                                                            untuk terikat dengan syarat dan ketentuan penggunaan ini. Terima kasih telah
                                                                            menggunakan layanan kami.</p>
                                                                        <div class="popup-buttons">
                                                                            <button onclick="closePopup()">Tidak Setuju</button>
                                                                            <button onclick="closePopup()">Setuju</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn">Register</button>
                                                                <div class="log-register">
                                                                    <p>Already have an account?
                                                                        <a href="#" class="login-link">Login</a>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <script src="login.js"></script>
                                                    <script>
                                                        feather.replace();
                                                    </script>
                                                    <script>
                                                        function showPopup() {
                                                            var popupOverlay = document.getElementById("popupOverlay");
                                                            var popupContent = document.getElementById("popupContent");
                                                            popupOverlay.style.display = "block";
                                                            popupContent.style.display = "block";
                                                        }

                                                        function closePopup() {
                                                            var popupOverlay = document.getElementById("popupOverlay");
                                                            var popupContent = document.getElementById("popupContent");
                                                            popupOverlay.style.display = "none";
                                                            popupContent.style.display = "none";
                                                        }
                                                    </script>
                                                </body>