<head>
    <%- include('layouts/header.ejs') %>
        <link rel="stylesheet" href="payment.css">
            <link rel="stylesheet" href="nav.css">
                <title>Pembayaran Berhasil</title>
            </head>
            <body>
                <!-- <%- include('layouts/nav.ejs') %> -->
                <div class="popup-box">
                    <div class="checklist">
                        <i class="bi bi-check2"></i>
                    </div>
                    <div class="payment-succsess">
                        <img src="img/payment-successful.webp" alt=""></div>
                        <h1>Hello,
                            <%= user.username %></h1>
                        <h2>Your ticket has been successfully booked</h2>
                        <!-- <h1>Success</h1> -->
                        <p>Check your email for a booking confirmation. We'll see you soon!</p>
                        <a href="/tiket">
                            <button class="OkButt">OK</button>
                        </a>
                    </div>

                    <script src="web/index.js"></script>
                </body>