<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header.ejs') %>
            <link rel="stylesheet" href="../payment.css">
            <title>Pembayaran Berhasil</title>
        </head>
<body>
    <%- include('layouts/nav.ejs') %>
    <div class="popup-box">
        <div class="checklist">
            <i class="bi bi-check2"></i>
        </div>
        <div class="payment-succsess">
            <img src="web/img/payment-successful.webp" alt="">
        </div>
        <h1>Success</h1>
        <p>Check your email for a booking confrimation. We'll see you soon!</p>
        <button>OK</button>
    </div>

<script src="web/index.js"></script>
</body>
</html>