<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Sign In</title>
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/lib..."
                integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"/>
            <link rel="stylesheet" href="login.css">
                <script src="https://unpkg.com/feather-icons"></script>
            </head>
            <body>
                <div class="ring">
                    <i style="--clr:#fff;"></i>
                    <i style="--clr:#fff;"></i>
                    <i style="--clr:#fff;"></i>  
                    <div class="sampul">
                        <div class="login-box" id="id">
                            <h2>Verification Code</h2>
                            <form action="/verification" method="post">
                                <div class="form">
                                    <span class="icon">
                                        <i data-feather="lock"></i>
                                    </span>
                                    <input type="text" name="verificationCode" required="required" maxlength="6">
                                    <label>Verification Code</label>
                                </div>
                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                    </div>                    
                                
                                
                                                </body>