/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f5f5;
    color: #000;
    overflow-x: hidden;
}

.container {
    overflow: hidden;
}

.container p {
    line-height: 23px;
}

.home {
    background-size: cover;
    background-position: center;
    /* filter: grayscale(100%); */
    /* display: flex; */
}

.home {
    height: 800px;
}

.penjelasan {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 600px;
    padding: 60px;
    color: #000;
    background-image: url("img/bg_home.jpg");
    background-position: center;
    background-size: cover;
}

.penjelasan h4 {
    font-size: 25px;
    padding-bottom: 13px;
    font-weight: lighter;
}

.penjelasan h1 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 13px;
}

button {
    display: inline-flex;
    transition: 0.6s ease-out;
    width: fit-content;
    background-color: transparent;
    color: #000;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    /* cursor: pointer; */
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.penjelasan button:hover {
    color: black;
}

.penjelasan button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -999;
    transition: 0.5s;
}

.penjelasan button:hover::before {
    width: 100%;
}

/* popular */
.popular {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.popular .judul-popular {
    font-size: 2rem;
    padding-bottom: 15px;
}

.popular .popular-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.popular-card {
    border-radius: 10px;
    width: 24em;
    font-size: 16px;
    object-fit: cover;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popular-card:hover button {
    color: #2ec5c1;
}

.popular-card .info {
    height: 4em;
    padding: 10px;
    /* box-sizing: border-box; */
}

.popular-card .rating {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}

.popular-card button {
    border: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
}

.popular-card .info h1 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 8px;
}

.popular-card img {
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
}

/* popup */
.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #e5e5e5;
    width: 80vw;
    height: 80vh;
    z-index: 8889;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    position: fixed;
    transition: all 300ms linear;
    transform: translate(-50%, -50%) scale(1);
}

.popup .destinasi-hotel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 400px;
}

.popup .destinasi-hotel .gambar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.popup .destinasi-hotel .penjelasan {
    background-color: #2e6d99;
    color: #fff;
    display: grid;
    align-content: center;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.popup .destinasi-hotel .penjelasan h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.popup .destinasi-hotel .penjelasan p {
    font-size: 18px;
    line-height: 20px;
}

.keuntungan {
    font-size: 14px;
    width: 95%;
    padding: 20px;
    margin: 25px auto;
    display: grid;
    align-content: center;
    grid-template-columns: 0.8fr 2.2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'fasilitas tentang' 'fasilitas lokasi';
}

.keuntungan .fasilitas {
    grid-area: fasilitas;
}

.keuntungan .fasilitas ul img {
    width: 22px;
}

.keuntungan .tentang {
    grid-area: tentang;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.keuntungan .hotel {
    /* width: 80%; */
    width: 90%;
    height: 150px;
    overflow: auto;
}

.keuntungan .akomodasi {
    /* height: 150px;
    overflow: auto; */
    text-align: end;
}

.keuntungan .lokasi {
    grid-area: lokasi;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.lokasi h5 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.lokasi ul li i {
    color: #c70101;
}

.keuntungan h5 {
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 18px;
}

.keuntungan li {
    padding-bottom: 10px;
}

/* responsive */
@media (max-width:991px) {
    .popular {
        display: grid;
        justify-items: center;
    }

    .popular .popular-item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:528px) {
    .popular .popular-item {
        grid-template-columns: 1fr;
    }

}

/* explore */
.explore {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin-top: 100px;
    background-color: #fff;
}

.explore-penjelasan {
    width: 80%;
}

.explore-judul {
    font-size: 2.6rem;
    margin-bottom: 18px;
}

.explore-penjelasan p {
    line-height: 23px;
}

.explore .fasilitas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
    font-size: 1.1rem;
}

.explore .fasilitas i {
    color: #f08d47;
    padding-right: 10px;
    font-size: larger;
}

@media (max-width:991px) {
    .explore {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }

    .explore-penjelasan {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* gallery */
.gallery {
    display: grid;
    background-color: #f5f5f5;
}

.gallery .gallery-judul {
    margin: 40px auto 20px;
    display: flex;
    font-size: 35px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.gallery .content {
    padding: 25px;
    gap: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'gambar-1 gambar-2 gambar-3' 'gambar-1 gambar-4 gambar-3' 'gambar-5 gambar-4 gambar-6';
}

.content .gambar {
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.content .title-box {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0), #000);
    z-index: 1;
    transform: translateY(50px);
    transition: 0.5s ease-in-out;
}

.content .gambar:hover .title,
.content .gambar:hover .title-box {
    transform: translateY(0);
}

.content .title {
    position: absolute;
    width: 100%;
    color: white;
    z-index: 2;
    bottom: 10px;
    padding: 10px;
    transform: translateY(50px);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.content .gambar:hover {
    transition: 0.4s ease-in-out;
}

.content .satu {
    background-image: url("img/ver-3.jpg");
    grid-area: gambar-1;
    min-height: 470px;
}

.content .dua {
    background-image: url("img/hor-1.jpg");
    grid-area: gambar-2;
}

.content .tiga {
    background-image: url("img/ver-2.jpg");
    grid-area: gambar-3;
}

.content .empat {
    background-image: url("img/ver-1.jpg");
    grid-area: gambar-4;
}

.content .lima {
    background-image: url("img/hor-2.jpg");
    grid-area: gambar-5;
}

.content .enam {
    background-image: url("img/hor-3.jpg");
    grid-area: gambar-6;
}

/* responsive */
@media (max-width:762px) {
    .gallery .content {
        grid-template-areas: 'gambar-1 gambar-4 gambar-3' 'gambar-1 gambar-4 gambar-3' 'gambar-5 gambar-2 gambar-6';
    }

    .gallery {
        display: grid;
        margin: 0 auto;
        width: 100%;
    }
}

/* faq */
.faq {
    margin: 50px auto;
    text-align: center;
    width: 80%;
}

.faq h1 {
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 10px;
}

.faq .input ul {
    text-align: left;
}

.faq .input .warna {
    font-weight: bolder;
}

.faq button {
    border: none;
}