* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri', sans-serif;
    text-decoration: none;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eecb5b;
}

.ring {
    position: relative;
    width: 480px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}
.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sampul {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease;
    overflow: hidden;
}

.sampul.active {
    height: 550px;
}

.sampul .login-box {
    width: 100%;
    padding: 40px;
    /* display: none; */
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.sampul.active .login-box {
    transition: none;
    transform: translateX(-400px);
}
.sampul .register-box {
    width: 100%;
    padding: 40px;
    position: absolute;
    transform: translateX(400px);
    transition: none;
}

.sampul.active .register-box {
    transition: transform 0.18s ease;
    transform: translateX(0);

}

.sampul .login-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.form label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 0 35px 0 5px;
}

.form input:focus~label,
.form input:valid~label {
    top: -5px;
}

.form .icon {
    position: absolute;
    top: 15px;
    right: 8px;
    font-size: 20px;
    color: #fff;
    line-height: 57px;
}

.rememberforgot {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberforgot label input {
    accent-color: #fff;
    margin-left: 3pxa;
}

.rememberforgot a {
    color: #fff;
}

.rememberforgot a:hover {
    text-decoration: underline;
}

.btn {
    font-size: 17px;
    width: 100%;
    margin-top: 2px;
    height: 30px;
    outline: none;
    border-radius: 6px;
    border: none;
    letter-spacing: 0.5px;
    color: #18394c;
    font-weight: bold;
    cursor: pointer;
}

.otherregis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-top: 20px;
    margin-left: 105px;
    color: #fff;
}

.socialmedia a {
    color: white;
}

.log-register {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 25px 0 10px;
}

.log-register p a {
    color: white;
    font-weight: bold;
}

.log-register p a:hover {
    text-decoration: underline;
}

.sampul .register-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1001;
    width: 80%;
    max-width: 600px;
    max-height: 50vh;
    /*70vh harusnya*/
    overflow-y: auto;
}

#popupContent h2{
    color: #000;
    margin: 0;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}


.popup-buttons #yes,
.popup-buttons #no {
    flex: 1;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0b5ed7;
}

.floating-alert {
    position: absolute;
    margin-top: 19.3em;
    z-index: 1000;
    background-color: black;
            color: white;
            padding: 4px;
            border-radius: 5px;
}