a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
}

body ul li {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    /* max-width: 90vw; */
    text-align: center;
    /* padding-top: 10px; */
    transition: transform 0.5s;
}

nav .icon-cart {
    position: relative;
}

nav .icon-cart i {
    position: relative;
    font-size: 30px;
    color: #fff;
    /* font-size: 20px; */
    padding-right: 10px;
    cursor: pointer;
}

nav .icon-cart span {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -15px;
    margin-right: 10px;
}

nav.scrolled .icon-cart i {
    color: #000;
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: drop-shadow(0 50px 20px rgba(48, 41, 41, 0.6)); */
    border-radius: 15px;
}

.judul-tiket {
    padding: 50px 10px 0;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    transition: transform 0.5s ease-in;
    margin-top: 20px;
    padding: 0 10px;
}
.listProduct .item {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.listProduct .item h2 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
    font-weight: bolder;
}
.listProduct .item .price {
    padding-top: 10px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 15px;
}
.listProduct .item button {
    background-color: #2ec5c1;
    color: #eee;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.listProduct .item button:hover {
    transform: scale(1.05);
}

.listProduct .item button:active {
    transform: scale(0.95);
}

/* penjelasan */
.penjelasan {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 520px;
    padding: 60px;
    color: #000;
    background-image: url("img/bg_home.jpg");
    background-position: center;
    background-size: cover;
}

.penjelasan h4 {
    font-size: 25px;
    padding-bottom: 13px;
    font-weight: lighter;
}

.penjelasan h1 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 13px;
}

.penjelasan button {
    display: inline-flex;
    transition: 0.6s ease-out;
    width: fit-content;
    background-color: transparent;
    color: #000;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    /* cursor: pointer; */
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

/* cart */
.cartTab {
    width: 400px;
    font-family: "Poppins", sans-serif;
    background-color: #171717;
    color: #fff;
    /* color: #eee; */
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
    z-index: 999;
    /* cursor: pointer; */
}
body.showCart .cartTab {
    right: 0;
}
body.showCart .container {
    transform: translateX(-200px);
    width: 80%;
}
body.showCart .listProduct {
    transform: translateX(20px);
    /* transition: .5s ease-in-out; */
    width: 75%;
}
.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}
.cartTab .btn {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
    background-color: #f08d47;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-size: 20px;
    /* cursor: pointer; */
}
.cartTab .close {
    background-color: #eee;
    color: #f08d47;
}

.listCart .item img {
    width: 85px;
    height: 50px;
}
.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #f08d47;
    cursor: auto;
}
.listCart .item:nth-child(even) {
    background-color: #eee1;
}
.listCart {
    overflow: auto;
}
.listCart::-webkit-scrollbar {
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
    .header {
        margin-top: -2.5%;
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
    .header {
        margin-top: -4.5%;
    }
}

/* CSS untuk Search Bar */
.search-bar {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* CSS untuk Filter */
.filter {
    margin: 20px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter label {
    font-weight: bold;
    margin-right: 10px;
}

.filter select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter select#continent {
    margin-right: 20px;
    /* Memberikan sedikit ruang di sebelah kiri */
}
